<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Search</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
      <div class="hero">
         <img  src="/static/logo.png" width="200px" alt="">
        <h1>Waiver Search</h1>
      </div>

       <p><em>Search using name or email of the person that booked your reservation OR click the room name to help find your room</em></p>
       <div class="room-filter-container">
        <div>
          <button class="room-filter" data-roomName="the-witching-hour">The Witching Hour</button>
        </div>
        <div>
          <button class="room-filter" data-roomName="the-dinner-party">The Dinner Party</button>
        </div>
        <div>
          <button class="room-filter" data-roomName="the-order-of-the-veil">The Order of the Veil</button>
        </div>
        <div>
          <button class="room-filter" data-roomName="enter-sequence">Enter Sequence</button>
        </div>
        <div>
          <button class="room-filter" data-roomName="exit-strategy">Exit Strategy</button>
        </div>
        <div>
          <button class="room-filter" data-roomName="pet-project">Pet Project</button>
        </div>
        <div>
          <button class="room-filter" data-roomName="kingdom-quest">Kingdom Quest</button>
        </div>
      </div>
       <div class="search-container"> 
          
            <input type="text" id="search" placeholder="'Jane Smith' or 'jane.s@email.com'">
            <button id="clear-search" class="hidden">Clear</button>
        </div>
        
        <div class="spacer"></div>
        <div id="searching-animation" class="hidden">
            <p id="search-msg">Keep typing to find your booking...</p>
            <div class="spinner"></div>
        </div>
        
        <ul id="results">
          
        </ul>
        <div id="no-results" class="hidden">Currently no results found</div>
    </div>
    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>